@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Floricele, Floricele, la noi sunteti frumusele</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flower Power e cea mai bine "infloritoare" Florarie online. Aflata inca in faza beta, promite mult si are foarte mult potential de crestere. Enjoy.
        </p>
    
    </div>
   
</div>