@{
    ViewBag.Title = "Home Page";
}



<html>
<head>
    <style>
        div.img {
            margin: 5px;
            float: right;
            width: 400px;
            height: 100px;
           background-size: 100px 90px;
            
        }
img {
    border-radius: 100%;
}

    </style>
</head>
<body>
    <div class="img">
        <img src="@Url.Content("~/Content/florarie.jpg")" />
    </div>

</body>
</html>

<html>
<head>
    <style>
        body {
            background-color: #980000;
            color: #181818;
        }
    </style>
</head>




<div class="jumbotron">

    


        <h1>Floraria "Flower Power"</h1>

   

<style>
    p.oblique {
        font-style: oblique;
    }
</style>


<p class="oblique">Floricele, Floricele, la noi sunteti frumusele!</p>

    <style>
        p {
            font-size: 100px;
        }
    </style>





</div>



<div class="row">
    <div class="col-md-4">

        <h2>Comanda chiar acum!</h2>
        <p>
            Flower Power e cea mai "infloritoare" Florarie online. Aflata inca in faza beta, promite mult si are foarte mult potential de crestere. Enjoy!
        </p>

        <style>
            p {
                font-size: 16px;
            }
        </style>



    </div>

</div>

